.globalpanier {
    background: url('../assets/images/ratsky.png') center / cover no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    font-family: "goudy";
    font-weight: bold;
    font-size: 3rem;
    flex-wrap: wrap;
}

.title-panier{
    width: 100%;
    margin: 0;
    text-align: center;
    color:white;
    font-size: 1.2em;
    margin-top: 50px;
    text-shadow: 2px 2px 2px #0d0f12;
    letter-spacing: 0.15rem;
}