
.selectionMiniature{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 80px;
    justify-content: space-around;
}
.selectionMiniature img{
    width: 100px;
    height: 100px;
}
.selectionMiniature .text{
    display: flex;
    gap: 150px;
    align-items: center;
}
.selectionMiniature h3{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 0.5em;
    text-transform: uppercase;
    margin: 0;
    width: 100px;
}
.selectionMiniature h4{
    margin: 0;
    font-size: 0.5em;
}
.selectionMiniature button{
    backdrop-filter: blur(7px) saturate(181%);
    -webkit-backdrop-filter: blur(7px) saturate(181%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid white;
    padding: 5px;
    width: 200px;
    color: white;
    letter-spacing: 5px;
}