.title-h1 {
  padding-top: 6rem;
  padding-left: 9rem;
  padding-bottom: 0;
  font-family: "goudy";
  font-size: 8rem;
  margin-bottom: 0;
}

.title-para {
  padding-left: 9rem;
  max-width: 60%;
  line-height: 1.8rem;
  font-family: "kawoszeh";
  font-weight: bold;
  word-spacing: 0.3rem;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
}

.title-letter {
  font-size: 3rem;
  font-weight: bold;
}
